* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 60rem;
    min-height: 600px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 10%, rgba(253,187,45,1) 120%);
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  
  h1 {
    margin: 2rem 0;
    color: hotpink;
    font-size: 3rem;
    font-weight: bold;
  }

  h2{
    font-size: 2.4rem;
    color: darkblue;
    margin: 2rem 0;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 32px;
  }
  
  .todo-input {
    padding: 1rem;
    border-radius: 4px 0 0 4px;
    border: 2px solid darkblue;
    outline: none;
    width: 320px;
    background: transparent;
    color: purple;
  }
  
  .todo-input::placeholder {
    color: purple;
    font-weight: bold;
  }
  
  .todo-button {
    padding: 1rem;
    border: 2px solid darkblue;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: lightblue;
    color: darkblue;
    text-transform: capitalize;
    font-weight: bold;
  }
  
  .todo-input.edit {
    border: 2px solid darkblue;
  }
  
  .todo-button.edit {
    background: lightblue;
    padding: 1rem;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: #ef476f;  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  .todo-row:nth-child(4n + 1) {
    background: #ffd166;
  }
  
  .todo-row:nth-child(4n + 2) {
    background: #06d6a0;
  }
  
  .todo-row:nth-child(4n + 3) {
    background: #118ab2;
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  }
  
  @media only screen and (max-width: 500px) {
    .todo-app {
      width: 20rem;
    }

    .todo-input {
      width: 18rem;
    }

    .todo-button {
      margin-top: 1rem;
    }
  }